html {
    scroll-behavior: smooth;
}

body {
    background-image: url('../../images/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    // background: var(--primary-bg);
    color: var(--primary-text);
    font-family: var(--primary-font);
    font-size: 14px;
    letter-spacing: 0.04em;
    font-weight: normal;
    overflow-x: hidden;
 
    // cursor: url(../images/icons/cursor.svg), auto;






}