.logo{
    width: 300px;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 24px;
    text-align: center;
    // background-color: #c3a28d;
}
.logo__img{
    width: 35px;
    padding-bottom: 8px;
}




.logo__title{
    font-family: var(--primary-font);
    font-size: 24px;
    background: linear-gradient(90deg, hsla(28, 28%, 29%, 1) 4%, hsla(36, 30%, 68%, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    margin-left: 10px;
    padding: 0;
    // width: 230px;
    // height: 18px;
    // margin-top: 4px;
}
